extends layout

block layout-content
    .View.WelcomeView
    h1.Banner WHATABYTE
    .Message
        .Title
            h3 Making the Best
            h1 Food for Devs
        span.Details Access the WHATABYTE Team Portal
    .NavButtons
        if isAuthenticated
            a(href="/user")
                div.NavButton Just dive in!
        else
            a(href="/login")
                div.NavButton Log in
